// Sizes
$pc-base-size: 1920;
$sp-base-size: 375;

// Breakpoints
$break-point-pc: 1440px;
$break-point-tablet: 1024px;
$break-point-sp: 768px;

// Colors
$color-black: #000;
$color-white: #fff;
$color-orange: #ff9602;

// Font
$font-all: 'Henny Penny', cursive;

// Z-index
$z-loading: 1000;
$z-2: 2;
